h1{
    font-family: 'Red Rose', cursive;
}

h4{
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
}